# IDE/Editor files
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.env
venv/
*.sqlite3
*.db

# macOS
.DS_Store
*.swp

# Logs
logs/
*.log

# Virtual environment
venv/
venv311/
venv312
venv*
Carmen July Numbers.csv
Carmen July Numbers 2.csv
data_to_excel.xlsx
REY_new_2_ro_451351_20250807_101649.json
VS_471249.csv
vectorstore/
faiss_index/
1256_aug_deals.csv
1256_sales_data.json
1256_sales_data_extended.json

