# IDE/Editor files
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.env
venv/
*.sqlite3
*.db

# macOS
.DS_Store
*.swp

# Logs
logs/
*.log

# Virtual environment
venv/
venv311/
venv312
venv*
debugging/Carmen July Numbers.csv
debugging/Carmen July Numbers 2.csv
learning/data_to_excel.xlsx
debugging/REY_new_2_ro_451351_20250807_101649.json
debugging/VS_471249.csv
vectorstore/
faiss_index/
faiss_indices/
faiss_indexes/
learning/1256_aug_deals.csv
learning/1256_sales_data.json
learning/1256_sales_data_extended.json
debugging/

